/*Background Image Set Up*/
html {
    background-image: url("bg-img/background.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Remove Browser Margin And Align Text To Center*/
body {
    margin: 0;
    text-align: center;
}

/*h1 Set Up*/
h1 {
    font-size: 5em;
    color: white;
}

/*Style The New Game Button*/
a.new_game {
    text-decoration: none;
    color: initial;
    background-color: #5643fd;
    padding: 1em;
    color: white;
}

a.new_game:hover {
    background-color: #0c164f;
    color: white;
}