body {
    margin: 0; /* Remove Default Margin From Body */
}

/*Set Background-Image And Fill Browser Space*/
canvas {
    background-image: url("/resources/images/background.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*Hide Images*/
.imgs {
    display: none;
}

